NODE_ENV=development
FASTIFY_PORT=8888
FASTIFY_HOST=0.0.0.0

PISTON_URI=http://localhost:2000
MONGO_DB_NAME=codincod-development
MONGO_URI=mongodb://codincod-dev:hunter2@localhost:27017

REDIS_PASSWORD=your_redis_password_in_production_at_least_30_chars_long

JWT_SECRET=your_jwt_secret_here
JWT_EXPIRY=7d

# These are only used when running mongo with `docker compose`, they should match user and password in MONGO_URI
CODINCOD_MONGODB_USERNAME=codincod-dev
CODINCOD_MONGODB_PASSWORD=hunter2