PORT=8888
MONGO_URI=mongodb://codincod-dev:hunter2@localhost:27017
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRY=7d
NODE_ENV=development
PISTON_URI=http://localhost:2000
# These are only used when running mongo with `docker compose`, they should match user and password in MONGO_URI
CODINCOD_MONGODB_USERNAME=codincod-dev
CODINCOD_MONGODB_PASSWORD=hunter2
